<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.126/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.126/Build/Cesium/Widgets/widgets.css" rel="stylesheet">

</head>

<body>
    <div id="cesiumContainer"></div>
    <script type="module">
        // Your access token can be found at: https://ion.cesium.com/tokens.
        // This is the default access token from your ion account

        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI2ZjVhODYyOS04NjBlLTQ5MDUtOWI4MC1hMGRiNWUwYTU0NGQiLCJpZCI6NTY2NCwic2NvcGVzIjpbImFzciIsImdjIl0sImlhdCI6MTU0Mzg5MzE5Nn0.5VoO3hPjqXGjUQg0mF8Mt0JyeVwUKqytjrCtLvxGNw0';
        var terrain = Cesium.Terrain.fromWorldTerrain();

        // Initialize the Cesium Viewer in the HTML element with the `cesiumContainer` ID.
        const viewer = new Cesium.Viewer('cesiumContainer', {
            terrain: terrain,
            animation: false,
            timeline: false
        });
        //viewer.extend(Cesium.viewerCesiumInspectorMixin);

        var views = [
            {
                latitude: 48.830054,
                longitude: -123.758148,
                height: 1000,
                heading: 300,
                pitch: -45,
                roll: 0
            },
            {
                latitude: 48.830054,
                longitude: -123.758148,
                height: 1000,
                heading: 300,
                pitch: -30.5,
                roll: 0
            },
            {
                latitude: 48.830054,
                longitude: -123.758148,
                height: 1000,
                heading: 300,
                pitch: -15,
                roll: 0
            }
        ]
        var view = views[0];


        var position = new Cesium.Cartesian3.fromDegrees(view.longitude, view.latitude, view.height);
        var orientation = { heading: Cesium.Math.toRadians(view.heading), pitch: Cesium.Math.toRadians(view.pitch), roll: Cesium.Math.toRadians(view.roll) };

        viewer.dataSources.add(Cesium.GeoJsonDataSource.load('/pins/pins.json', {
            stroke: Cesium.Color.HOTPINK,
            fill: Cesium.Color.PINK,
            strokeWidth: 3,
            markerSymbol: '?'
        }));

        viewer.camera.setView({
            destination: position,
            orientation: orientation
        });


        var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
        handler.setInputAction(function (event) {
            var ray = viewer.camera.getPickRay(event.position);
            var mousePosition = viewer.scene.globe.pick(ray, viewer.scene);
            if (Cesium.defined(mousePosition)) {
                var cartographic = Cesium.Cartographic.fromCartesian(mousePosition);
                var mouseLat = Cesium.Math.toDegrees(cartographic.latitude);
                var mouseLon = Cesium.Math.toDegrees(cartographic.longitude);
                var mouseHeight = cartographic.height;

                var camera = viewer.scene.camera;
                var position = camera.positionCartographic;
                var orientation = { heading: 0, roll: 0, pitch: 0 };
                orientation.heading = camera.heading;
                orientation.pitch = camera.pitch;
                orientation.roll = camera.roll;
                var view = {
                    latitude: Cesium.Math.toDegrees(position.latitude),
                    longitude: Cesium.Math.toDegrees(position.longitude),
                    height: position.height,
                    heading: Cesium.Math.toDegrees(orientation.heading),
                    pitch: Cesium.Math.toDegrees(orientation.pitch),
                    roll: Cesium.Math.toDegrees(orientation.roll),
                }
                var json = {
                    "title": "new pin",
                    "pin": {
                        "latitude": mouseLat,
                        "longitude": mouseLon,
                        "height": mouseHeight
                    },
                    "view": view
                }
                navigator.clipboard.writeText(JSON.stringify(json));

                console.log(JSON.stringify(json));

            }
        }, Cesium.ScreenSpaceEventType.LEFT_CLICK);
    </script>
</body>

</html>